$white: #ffffff;
$white2: #fcfcfc;

$light-grey: #f2f4f5;
$grey: #cccccc;

$dark: #373737;

$light-blue: #eff6ff;
$blue: #3b82f6;

$green: #6ee7b7;
$dark-green: #059669;

$yellow: #fde68a;
$dark-yellow: #d97706;

$red: #fca5a5;
$dark-red: #b91c1c;
