#tasks {
  .task {
    background-color: $white;
    padding: 8px;
    box-shadow: 0px 0px 50px 1px #f5f5f5;
    border-radius: 15px;
    .checkmark {
      background: #ffffff;
      border: 3px solid #3b82f6;
      box-sizing: border-box;
      border-radius: 28px;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
    time {
      font-size: 0.8em;
    }
    .priority {
      font-size: 0.8em;
    }
    .high {
      background-color: $red;
      color: $dark-red;
    }
    .medium {
      background-color: $yellow;
      color: $dark-yellow;
    }
    .low {
      background-color: $green;
      color: $dark-green;
    }
  }
}
