.wrapper {
  @include for-tablet-portrait-up {
    max-width: 500px;
  }
}

#tasks,
#tasksdone {
  .task {
    background-color: white;
    padding: 8px;
    color: black;
    border-radius: 15px;
    .checkmark {
      cursor: pointer;
      background: #ffffff;
      border: 3px solid #3b82f6;
      box-sizing: border-box;
      border-radius: 28px;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
    time {
      font-size: 0.8em;
    }
    .priority {
      font-size: 0.7em;
    }
    .high {
      background-color: $red;
      color: $dark-red;
    }
    .medium {
      background-color: $yellow;
      color: $dark-yellow;
    }
    .low {
      background-color: $green;
      color: $dark-green;
    }
  }
  .crossed {
    text-decoration: line-through;
  }
  .statusdone {
    background-color: #1f2937;
  }
  .delete {
    cursor: pointer;
    font-weight: 600;
    color: white;
    &:hover {
      color: #1f2937;
    }
  }
}
